<h3><%= @real.user.username %>さんを通報</h3>
<h6 class="report-message"><%= @already_message %></h6>
<div class="real-report-form report-form">
  <%= form_with local: false, url:  real_real_reports_path(real_id: @real.id), id: "real_report_form" do %>
    <%= text_field_tag "body",nil %>
    <%= submit_tag "送信" %>
  <% end %>
</div>
<script>
  $("#real_report_form").submit(function(event){
    setTimeout(() => {
      $(".report-message").text("");
    }, 10000);
  });
</script>
