

<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">Real</h1>
    <%= form_with model: @real, multipart: true, local: true,  url: reals_path(@real) do |f| %>
      <div class="form">
        <div class="form-body">
          <%= f.text_area :content, class: 'form-control' %>

          <div class="item-num-0" id="image-box__container1">
              <%= fields_for :image_posts do |i| %>
                <div class="input-area">
                    <%= i.file_field :image, type: 'file', name: "[image_posts][][picture]", value:"", id: "img-file", multiple: true, onclick: "this.value=null;" %>
                </div>
              <% end %>
          </div>

          <div id="image-box-1" style="border: 1px solid #DDDDDD; width: 100%; height: 220px; text-align: center; line-height: 200px;">
            <div class="item-num-0" id="image-box__container">
            </div>
          </div>

         <div class="text-right">
          <%= f.submit "投稿", class: "btn btn-primary input" %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
