<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<div class="main reals-show">
  <%= render "real", {real: @real, real_like_current: @real_like_current, real_link: ""} %>
  <div class="modal-contents hide" id="report-modal-contents">
    <i class="zoom-hide-button fa fa-times-circle modal-hide-button"></i>
    <div class="report-form">
      <%= render "report_form" %>
    </div>
  </div>
  <div class="modal-background hide" id="report-modal-background">

  </div>
  <div class="real-tags-box">
    <% @real.real_tags.each do |real_tag| %>
      #<%= real_tag.tag %>
    <% end %>
  </div>
  <div class="reals-comments-box comments-box">
    <% if user_signed_in? %>
      <div class="main comments-new">
        <%= form_with model: @real_comment,local: true, url: real_real_comments_path(real_id: @real.id) do |f| %>
          <div class="comment-form">
            <%= f.text_area :comment,placeholder: "コメントを追加",class: "comment-field" %>
            <%= f.submit 'コメントする', class: "comment-form-submit base-pink-button" %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="comments-all-box">
      <% @real_comments.each do |comment| %>
        <div class="comment-index-item">
        <%= render "reals/real_user_profile", {user: comment.user, data_created_at: comment.created_at} %>
          <div class="comment-and-delete-button-box">
            <div class="comment-index-content">
              <%= simple_format comment.comment %>
            </div>
            <div class="comment-delete-button-box">
              <% if user_signed_in? %>
                <% if current_user.id == comment.user_id %>
                  <%= link_to real_real_comment_path(real_id: @real.id,id: comment), data: {confirm: "本当に削除していいですか"},method: :delete do %>
                    <button class="comment-delete-button delete-button">削除</button>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="image-zoom-area modal-contents hide" id="image-real-zoom-modal-contents">
  <i class="zoom-hide-button fa fa-times-circle modal-hide-button"></i>
  <div class="image-contents-zoom <%= @real.image_reals.count > 1 ? "slick" : "" %>">
    <% @real.image_reals.each_with_index do |image, index| %>
      <% if image.picture? %>
        <div class="image-contents-zoom-box" data-index="<%= index %>">
          <%= image_tag image.picture.url %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="modal-background hide" id="image-real-zoom-modal-background">

</div>

<script>
  $('.image-contents-zoom.slick').slick({
    dots: false,
    speed: 300,
    slidesToShow: 1,
    centerPadding: '0px',
    centerMode: true
    // adaptiveHeight: true
  });

</script>
