<div class="main posts-show">
    <div class="posts-show-item">
      <% if @user.avater.attached? %>
        <div class="post-user">
          <%= image_tag @user.avater %> <%= link_to(@user.username, user_path(@user),class: "post-index-name") %>
        </div>
      <% else %>
        <div class="post-user">
          <%= image_tag "/blank-profile-picture-973460_640.png" %> <%= link_to(@user.username, user_path(@user),class: "post-index-name") %>
        </div>
      <% end %>

        <div class="real-show-content">
        <%= @real.content %>
        </div>

        <i class="far fa-comment comment-show"></i>
        <%= @real.real_comments.count %>
      <% unless @user == current_user %>
            <% if RealLike.find_by(user_id: current_user.id,real_id: @real.id) %>

              <%= link_to destroy_real_like_path(@real), class: "like-btn", method: :DELETE, remote: true do %>
                <i class="fa fa-heart like-btn"></i>
              <% end %>
              <%= @real.real_likes.count %>

              <% else %>

              <%= link_to create_real_like_path(@real), class: "like-btn", method: :POST, remote: true do %>
                <i class="far fa-heart like-btn"></i>
              <% end %>
              <%= @real.real_likes.count %>
              <% end %>
            <% else %>
            <i class="far fa-heart like-btn"></i>
            <%= @real.real_likes.count %>
      　　　<% end %>
            <div class="post-menus">
              <%= link_to(edit_real_path(@real), method: :get) do%>
              <i class="far fa-edit fa-2x"></i>
              <% end %>
              <%= @real.updated_at.strftime("%Y-%m-%d %H:%M") %>
              <%= link_to(real_path(@real),data: { confirm: "この投稿を削除してもよろしいですか？" }, method: :delete) do%>
              <i class="fas fa-trash-alt fa-2x"></i>
              <% end %>
            </div>
          </div>
      </div>

      <div class="main posts-new">
        <div class="container">
          <%= form_for (@real_comment) do |f| %>
            <div class="form">
              <div class="row form-body">
                <%= f.text_field :comment,class: "form-control comment-f" %>
                <%= f.hidden_field :real_id, value: @real.id %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.submit 'コメントする', class: "btn btn-primary input" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

   <div style="width:100%;height:200px;overflow:auto;">
    <% @real_comments.each do |comment| %>
      <div class="comment-index-item">
        <% if comment.user.avater.attached? %>
          <div class="post-users">
            <%= image_tag comment.user.avater %> <%= link_to(comment.user.username, user_path(comment.user),class: "comment-index-name") %>
          </div>
        <% else %>
          <div class="post-users">
            <%= image_tag "/blank-profile-picture-973460_640.png" %> <%= link_to(comment.user.username, user_path(comment.user),class: "comment-index-name") %>
        <% end %>
        <div class="comment-index-content">
          <%= comment.comment %>
        </div>
      </div>
      </div>
    <% end %>
   </div>
