<div class="main reals-show">
  <%= render partial: "users/user_profile", locals: {user: @user} %>
  <% if @real.image_reals.exists? %>
    <div class="real-show-images" id="real-show-images">
      <% @real.image_reals.each_with_index do |image, index| %>
        <% if image.picture? %>
          <div class="image-slide-real-box <%= @real.image_reals.count > 1 ? "slick-two" : "" %>" data-index="<%= index %>">
            <%= image_tag image.picture.url %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="real-show-contents">
    <div class="user-action-box">
      <div class="user-real-action">
        <% unless @user == current_user || current_admin.present? %>
          <% if @real_like.present? %>
            <%= link_to destroy_real_like_path(@real), class: "like-btn", method: :delete, remote: true do %>
              <%= image_tag "item/like.png" %>
              <p class="real-likes-count-text count-text-contents"><%= @real.real_likes.count %></p>
            <% end %>
          <% else %>
            <%= link_to create_real_like_path(@real), class: "like-btn", method: :post, remote: true do %>
              <%= image_tag "item/like.png" %>
              <p class="real-likes-count-text count-text-contents"><%= @real.real_likes.count %></p>
            <% end %>
          <% end %>
        <% else %>
          <%= image_tag "item/like.png" %>
          <p class="real-likes-count-text count-text-contents"><%= @real.real_likes.count %></p>
      　<% end %>
      </div>
      <div class="user-real-action">
        <%= image_tag "item/message.png" %>
        <p class="real-likes-count-text count-text-contents"><%= @real.real_comments.count %></p>
      </div>
    </div>
    <% if current_user.present? %>
      <% if current_user.id == @real.user_id %>
        <p class="reals-views-count-text">閲覧数：<%= @real.impressionist_count %></p>
      <% end %>
    <% end %>

  </div>
  <div class="real-show-content">
    <%= simple_format @real.content %>
  </div>
  <div class="post-menus">
    <%= link_to(edit_real_path(@real), method: :get) do%>
      <i class="far fa-edit fa-2x"></i>
    <% end %>
    <%= @real.updated_at.strftime("%Y-%m-%d %H:%M") %>
      <%= link_to(real_path(@real),data: { confirm: "この投稿を削除してもよろしいですか？" }, method: :delete) do%>
    <i class="fas fa-trash-alt fa-2x"></i>
    <% end %>
  </div>

  <div class="reals-comments-box comments-box">

    <div class="main comments-new">
      <%= form_for (@real_comment) do |f| %>
        <div class="comment-form">
          <%= f.text_area :comment,placeholder: "コメントを追加",class: "comment-field" %>
          <%= f.hidden_field :real_id, value: @real.id %>
          <%= f.submit 'コメントする', class: "comment-form-submit" %>
        </div>
      <% end %>
    </div>
    <% @real_comments.each do |comment| %>
      <div class="comment-index-item">

        <%= render partial: "users/user_profile", locals: {user: comment.user} %>
        <div class="comment-index-content">
          <%= simple_format comment.comment %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="image-real-zoom-area modal-contents hide" id="image-real-zoom-modal-contents">
  <i class="zoom-hide-button fa fa-times-circle modal-hide-button"></i>
  <div class="image-reals-zoom <%= @real.image_reals.count > 1 ? "slick" : "" %>">
    <% @real.image_reals.each_with_index do |image, index| %>
      <% if image.picture? %>
        <div class="image-real-zoom-box" data-index="<%= index %>">
          <%= image_tag image.picture.url %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="modal-background hide" id="image-real-zoom-modal-background">

</div>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $(`#real-show-images`).slick({
    dots: true,
    speed: 300,
    slidesToShow: 1,
    centerPadding: '0px',
    centerMode: true,
    swipe: false,
    arrows: false
  });
  $('.image-reals-zoom.slick').slick({
    dots: false,
    speed: 300,
    slidesToShow: 1,
    centerPadding: '0px',
    centerMode: true,
    adaptiveHeight: true
  })
</script>