
<div><span id="total_count"></span></div>

<% total_count = 0 %>

<% if @rooms %>
  <% @indexes.each do |i| %>
      <div class="users-index-item">
        <% if @users_admin.to_a[i].avater.attached? %>
          <div class="users" style="position: relative;">
            <%= image_tag @users_admin.to_a[i].avater %>
            <% non_count = non_count(@users_admin.to_a[i].id, @rooms[i].id) %>
            <% if non_count > 0 %>
              <% total_count += non_count %>
              <span class="msg_count"><%= non_count %></span>
            <% end %>
          </div>
        <% else %>
          <div class="users" style="position: relative;">
            <%= image_tag "/blank-profile-picture-973460_640.png" %>
            <% non_count = non_count(@users_admin[i].id, @rooms[i].id) %>
            <% if non_count > 0 %>
              <% total_count += non_count %>
              <span class="msg_count"><%= non_count %></span>
            <% end %>
          </div>
        <% end %>
        <div class= "users_right">
          <%= link_to "#{ @users_admin[i].username}",  "/rooms/#{@rooms[i].id}",class: "last-n" %><br />
            <span class="last-m"><%= @rooms[i].chat_posts.order(:id).last.message %></span>
        </div>
      </div>
  <% end %>
<% end %>
