<% if user_signed_in? %>
<%= search_form_for @search,:url => {:action => :index} do |f| %>
  <%= f.label :ユーザー名%>
  <%= f.search_field :username_cont, :class => "form-control user_edit" %>
  <div class="actions"><%= f.submit "検索" , :class => "btn btn-primary btn-sm" %></div>
<% end %>

<% if request.url.match(/commit/)%>
  <% @users.each do |user| %>
  <div class="users-index-item">
    <% if user.avater.attached? %>
      <div class="users">
        <%= image_tag user.avater %>
      </div>
    <% else %>
    <div class="users">
    <%= image_tag "/blank-profile-picture-973460_640.png" %>
    </div>
    <% end %>
     <div class= "users_right">
      <%= link_to "#{ user.username}",  user_path(user) %>
      </div>
    </div>
  <% end %>
<% end %>
<% end %>
