

<div class="user-show-backgroundimage-box">
  <% if @user.background_image? %>
    <%= image_tag @user.background_image.url, class: "user-background-image" %>
  <% else %>
    <%= image_tag "", class: "user-background-image" %>
  <% end %>
</div>
<%= render partial: "payments/post_payment" %>
<div class="user-contents-box">
  <% if @user.avater? %>
    <div class="avater_image">
      <%= image_tag @user.avater.url %>
    </div>
  <% else %>
    <div class="avater_image">
      <%= image_tag "blank-profile-picture-973460_640.png" %>
    </div>
  <% end %>
  <div class="main-user-contents-show">
    <%= form_with model: @user, local: true, class: "hide", id: "user-show-form" do |f| %>
      <%= f.file_field :background_image, id: "user-background_image-form" %>
      <%= f.submit %>
    <% end %>
    <div class="user-messages-box">
      <% if user_signed_in? %>
        <% if @user.id == current_user.id || current_user.admin? %>
          <%= link_to user_rooms_path(user_id: @user.id) do %>
            <i class="far fa-envelope relative user-show-message-icon">
            </i>
          <% end %>
        <% else %>
          <%= link_to rooms_path(user_id: @user.id), method: :post do %>
            <i class="far fa-envelope relative user-show-message-icon">
            </i>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path, method: :get do %>
          <i class="far fa-envelope relative user-show-message-icon">
          </i>
        <% end %>
      <% end %>
      <p class="heading-user_counts-tex">メッセージ</p>
    </div>
    <div class="user_count-box">
      <div class="user_counts-one-box">
        <%= link_to show_following_path(@user.id), class: "underline-none hover" do %>
          <h1 class="user_counts-text"><%= "#{@user.follower.count}" %></h1>
        <% end %>
        <p class="heading-user_counts-text">フォロー</p>
      </div>
      <div class="user_counts-one-box">
        <%= link_to show_follower_path(@user.id), class: "underline-none hover" do %>
          <h1 class="user_counts-text"><%= "#{@user.followed.count}" %></h1>
        <% end %>
        <p class="heading-user_counts-text">フォロワー</p>
      </div>
    </div>
  </div>
</div>
<div class="user-name-and-follow-buttons-box">
  <h2 class="user-show-username-text"><%= "#{@user.username}" %></h2>
  <% if user_signed_in? %>
    <% unless @user == current_user %>
      <div class="follow-buttons-contents-box">
        <% if current_user.following?(@user) %>
          <%= link_to unfollow_path(@user.id),class: "follow-button-link underline-none hover", method: :POST, data: { confirm: 'フォローを解除' } do %>
            <div class="follow-button">
              <h3>フォローを解除</h3>
            </div>
          <% end %>
        <% else %>
          <%= link_to follow_path(@user.id),class: "follow-button-link underline-none hover", method: :POST do %>
            <div class="follow-button">
              <h3>フォローする</h3>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="user-introduction-box">
  <%= raw Rinku.auto_link(simple_format(h(@user.introduction), class: "user-introduction"), :all,'target="_blank"') %>
</div>
<% if user_signed_in? %>
  <% if @user.id == current_user.id %>
    <%= link_to edit_user_registration_path, class: "nav-link underline-none hover" do %>
      <div class="account-edit-button">
        アカウント編集
      </div>
    <% end %>
  <% elsif current_user.admin? %>
    <%= link_to edit_admin_user_path(@user), class: "nav-link underline-none hover" do %>
      <div class="account-edit-button">
        アカウント編集
      </div>
    <% end %>
  <% end %>
<% end %>
<div class="change-list-buttons-box">
  <%= button_tag "Postに切り替え", class: "change-list-button post select", data: {type: "post"} %>
  <%= button_tag "Realに切り替え", class: "change-list-button real", data: {type: "real"} %>
</div>
<div class="user-show-contents-box">
  <div class="post user-show-contents-list">
    <%= render partial: "posts/posts_list", locals: {posts: @user.posts} %>
  </div>
  <div class="real user-show-contents-list">
    <%= render partial: "reals/reals_list", locals: {reals: @user.reals, message_custom: true} %>
  </div>
</div>

<style>
  .container{
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .real-change-buttons-box{
    max-width: 100%;
  }
  .real-image-item-box{
    width: 300px;
    height: 300px;
    padding: 1px;
    margin: 0;
  }
  .reals-index-out-box{
    display: block;
  }
  @media screen and (max-width: 850px){
    .reals-index{
      justify-content: center;
    }
    .real-image-item-box{
      width: 250px;
      height: 250px;
    }
    .container{
      padding: 0;
    }
  }
  @media screen and (max-width: 750px){

    .real-image-item-box{
      width: 200px;
      height: 200px;
    }
  }
  @media screen and (max-width: 600px){

    .real-image-item-box{
      width: 150px;
      height: 150px;
    }
  }

  @media screen and (max-width: 480px){
    .real-image-item-box{
      width: 123px;
      height: 123px;
    }

  }
</style>

<script>
  var type = "post";
  var before_type = "post";
  let start_once = false;
    $(".user-show-contents-list.real").css("visibility", "hidden");
  setTimeout(() => {
    $(".user-show-contents-list.real").addClass("hide");
  }, 400);
  $("#user-background_image-form").change(function(event){
    $("#user-show-form").submit();
  });
  $("#background-setting-button").click(function(event){
    $("#user-background_image-form").click();
  });
  $(`.change-list-button`).click(function(event){
    type = event.target.dataset.type;
    if(type != before_type){
      $(`.change-list-button.${type}`).addClass("select");
      $(`.change-list-button.${before_type}`).removeClass("select");
      $(`.user-show-contents-list.${type}`).removeClass("hide");
      $(`.user-show-contents-list.${before_type}`).addClass("hide");
    }

    before_type = event.target.dataset.type;
  });
</script>
