

<table>
    <thead>
        <tr>
            <th colspan="3">ユーザ一覧</th>
        </tr>
    </thead>
    <%= csrf_meta_tag %>
    <tbody class="admin_tables">
    <% @users.each do |user| %>
      <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td>
            <%=  link_to(admin_destroy_user_path(user), data: { confirm: "このアカウントを削除してもよろしいですか？" }, method: :delete) do%>
              <p style="margin: 0px;">削除</p>
            <% end %>
          </td>
          <td>
            <%=  link_to(users_stop_path(user), data: { confirm: "このアカウントを停止してもよろしいですか？" }, method: :post) do%>
              <p style="margin: 0px;">停止</p>
            <% end %>
          </td>
          <td>
            <%=  link_to(users_restore_path(user), data: { confirm: "このアカウントを復元してもよろしいですか？" }, method: :post) do%>
              <p style="margin: 0px;">復元</p>
            <% end %>
          </td>
          <td>
            <%  if user.isstopped == false %>
              <p style="margin: 0px;">◯</p>
            <% else %>
              <p style="margin: 0px;">✖︎</p>
            <% end %>
          </td>
      </tr>
    <% end %>
    </tbody>
</table>
