<div class="transfer-request-show-box auto-space">
  <h2 class="request-by-user-text"><%= link_to @user.username, admin_user_path(@user) %>さんからの振込リクエスト</h2>
  <p class="amount-request-text-show"><b><%= @transfer_request.amount %>円</b>の申請</p>
  <p>振込状態: <b><%= transfer_translate(@transfer_request.transfer_completion.already_transfer) %></b></p>

  <% if !@transfer_request.transfer_completion.already_transfer %>
    <%= link_to "振込済にする", transfer_completion_path(@transfer_request.transfer_completion.id, already_transfer: true), method: :put %>
  <% else %>
    <%= link_to "未振込にする", transfer_completion_path(@transfer_request.transfer_completion.id, already_transfer: false), method: :put %>
  <% end %>
  <div class="user-bank-information-transfer-admin-box">
    <h2 class="bank-information-heading-text"><%= @user.username %>さんの 銀行口座情報</h2>
    <p>金融機関名: <%= @user.bank_name %></p>
    <p>支店名: <%= @user.bank_branch_name %></p>
    <p>口座種別: <%= translate_bank_type(@user.bank_account_type) %></p>
    <p>口座番号: <%= @user.bank_account_number %></p>
    <p>口座名義人名: <%= @user.bank_account_horseman_name_kana %></p>
  </div>
</div>
