<% user_class = current_user.id == chat.user.id ? "current-user-front-room" : "" %>
<div class="room-chat-area-box <%= user_class %>" id="message-<%= chat.id %>">
  <div style="room-chat-box">
    <div class="room-chat-message-area-box">
      <div class="room-message-user-profile">
        <% if current_user.id != chat.user.id %>
          <%= render partial: "users/user_profile", locals: {username: "", user: chat.user} %>
        <% end %>
      </div>
      <% if chat.message.present? %>
        <div class="room-chat-message-box">
          <p class="room-chat-message-text"><%= chat.message %></p>
        </div>
      <% end %>
      <div class="room-chat-message-images-box">
        <% if chat.chat_post_images.exists? %>
          <% chat.chat_post_images.each do |chat_post_image| %>
            <div class="room-chat-message-image-one-box" id="chat_post_image-<%= chat.id %>" data-chat_id="<%= chat.id %>">
              <%= image_tag chat_post_image.picture, class: "chat_post_image_picture", id: "chat_post_image-picture-#{chat.id}" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="time-with-already-read-box">
      <div class="room-chat-already-check-box">
        <% if chat.chat_post_read.present? %>
          <% if chat.user_id == current_user.id %>
            <% if chat.chat_post_read.read == true %>
              <div class="room-chat-already-box">
                <i class="fa-solid fa-check"></i>
                <div class="room-chat-already-text-box">
                  既読
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <p class="chat_time"><%= chat.updated_at.strftime("%Y-%m-%d %H:%M")%></p>
    </div>
  </div>
</div>
