<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿</h1>
    <%= form_with model: @post, local: true, multipart: true do |f| %>
      <div class="form">
        <div class="form-body">
          <div class="form-field">
            <%= f.text_field :title, placeholder: "記事のタイトル", class: "form-control" %>
          </div>
          <div class="form-field">
            <%= f.text_area :content, class: "form-control", placeholder: "記事の文章" %>
          </div>
          <div class="form-field">
            <%= f.text_area :description, class: "form-control", placeholder: "記事の説明文" %>
          </div>

          <div class="form-field poster">
            <label>記事のポスター画像</label>
            <%= f.file_field :poster, class: "form-control-file hide", id: "form-file-poster" %>
            <div class="poster-view" id="click-event-poster-field">
              <% if @post.poster? %>
              <!-- ポスター画像があったらサンプル画像 -->
                <img src="<%= @post.poster.url %>" id="poster-view-image">
                <%= image_tag "clip-icon.png", class: "clip-icon poster" %>
              <% else %>
                <img src="" id="poster-view-image">
                <%= image_tag "clip-icon.png", class: "clip-icon poster" %>
              <% end %>
            </div>    
          </div>

          <div class="form-field poster">
            <label>記事のサムネイル</label>
            
            <div class="input-images-area">
              <%= f.fields_for :post_thumbnails, @post_thumbnail do |f_post_thumbnail| %>
                <%= f_post_thumbnail.file_field :picture, id: "input-post-thumbnail-0",class: "form-input-image" %>
              <% end %>
            </div>

            <%= render partial: "layouts/image_form" %>
          </div>

          <div class="form-field poster">
            <label>記事の画像集</label>
            
            <div class="input-images-area">
              <%= f.fields_for :image_posts, @image_post do |f_image_post| %>
                <%= f_image_post.file_field :picture, id: "input-post-image-0",class: "form-input-image" %>
              <% end %>
            </div>

            <%= render partial: "layouts/image_form" %>
          </div>

          <div class="form-field poster">
            <label>値段
              <%= f.text_field :amount, class: "form-control", id: "amount_input",placeholder: "例(1000)"  %>
            </label>
          </div>
          <p id="commision-form-text"></p>


          <div class="text-right">
            <input class="btn btn-primary input" type="submit" value="投稿">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<script>
  let amount_input = document.getElementById("amount_input");
  let commision_text = document.getElementById("commision-form-text");
  amount_input.addEventListener("input", function(event){
    commision_text.textContent = Math.round((Number(event.target.value) + (Number(event.target.value) * 0.15))) + "(手数料込み)"
  });



</script>
