
<div class="posts-index-root-box">
  <div class="posts-index-item">
    <!-- postsテーブルにレコードがある かつ ログインしている-->
    <% posts.each do |post| %>
      <% if user_signed_in? %>
        <% @post_payment_check = current_user.payments.find_by(post_id: post.id, user_id: current_user.id) %>
      <% end %>
      <div class="post-index-out-item">
        <%= link_to post_explanation_post_path(post), class: "post-index-to-explanation-post-link" do %>
          <div class="post-index-item">
            <div class="post-index-poster-box">
              <%= render partial: "post_likes/post_like", locals: {post: post, post_good_class: "post-good-index-box"} %>
              <% if post.poster? %>
                <%= image_tag post.poster.url, class: "post_index_poster" %>
              <% end %>
            </div>
            <p class="hide">
              <i class="far fa-heart like-btn"></i>
            </p>
            <%#= @purchase_num.to_s(:delimited) %>
            <h2 class="post-index-title"><%= post.title %></h2>
            <%= render partial: "users/user_profile", locals: {user: post.user} %>
            <div class="post-index-counts-all-box">
              <div class="post-index-counts-contents-box">
                <p class="post-index-count-text">購入数 : <%= post.payments_count %></p>
              </div>
              <div class="post-index-counts-contents-box">
                <p class="post-index-count-text">閲覧数 : <%= post.impressionist_count.to_s(:delimited) %></p>
              </div>
              <div class="post-index-counts-contents-box">
                <p class="post-index-count-text">いいね : <%= post.post_likes.count %></p>
              </div>
            </div>
            <!-- 購入していなかったら (管理者と投稿者はスルー) -->
            <% if user_signed_in? %>
              <% unless @post_payment_check.present? || current_user.id == post.user_id || current_user.admin %>
                <object>
                  <div class="post-index-buy-button-box">
                    <%= button_tag "¥#{amount_with_commision(post.amount)}",type: "button", id: "post-payment-box-open-link-#{post.id}",class: "base-pink-button post-index-payment-button", data: {post_id: post.id} %>
                  </div>
                </object>
                <script>
                  var post_payment_open_link_<%= post.id %> = document.getElementById("post-payment-box-open-link-<%= post.id %>");
                  var target_form = document.getElementById("post_payment_form");
                  var buy_text = document.getElementById("buy-text");
                  post_payment_open_link_<%= post.id %>.addEventListener("click", function(event){
                    event.preventDefault();
                    target_form.action = `/posts/<%= post.id %>/payments/post_payment`;
                    buy_text.textContent = "<%= post.content.truncate(5) %>(<%= amount_with_commision(post.amount) %>円(手数料込み))を購入する。";
                    event.preventDefault();
                    payment_modal.classList.add("open");
                    post_payment_box.style.display = "block";
                  });
                </script>

              <% else %>
                <div class="post-index-buy-button-box">
                  <%= button_to "記事を読む",post_path(post),{type: "button",method: :get,class: "base-pink-button post-index-payment-button"} %>
                </div>
              <% end %>
            <% else %>
                <object>
                  <div class="post-index-buy-button-box">
                    <%= button_to "¥#{amount_with_commision(post.amount)}", new_user_session_path ,type: "button", id: "post-payment-box-open-link-#{post.id}",class: "base-pink-button post-index-payment-button", data: {post_id: post.id} %>
                  </div>
                </object>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
