<div class="main posts-index">
  <div class="container">
    <!-- postsテーブルにレコードがある かつ ログインしている-->
    <% if @posts.exists? %>
      <% if user_signed_in? %>
        <%= render partial: "payments/post_payment" %>
      <% end %>
    <% end %>
    <div style="width:100%;height:500px;overflow:auto;">
      <div class="row">
        <% @posts.each do |post| %>
          <% if user_signed_in? %>
            <% @post_payment_check = current_user.payments.find_by(post_id: post.id, user_id: current_user.id) %>
          <% end %>
          <div class="posts-index-item">
            <% if post.user.avater.attached? %>
              <div class="post-users">
                <%= image_tag post.user.avater %>  <%= link_to(post.user.username, "/posts/#{post.id}",class: "post-index-name") %>
              </div>
            <% else %>
            <div class="post-users">
              <%= image_tag "/blank-profile-picture-973460_640.png" %><%= link_to(post.user.username, "/posts/#{post.id}",class: "post-index-name") %>
            </div>
            <% end %>
            <%= link_to(post.title, post_explanation_post_path(id: post.id),class: "post-index-content") %>
            <% if post.poster.attached? %>
              <%= image_tag post.poster, class: "post_index_poster" %>
            <% end %>
            <p>
              <i class="far fa-heart like-btn"></i>
              <%= post.likes.count %>
            </p>
            <!-- 購入していなかったら -->
            <% if user_signed_in? %>
              <% unless @post_payment_check.present? %>
                <%= button_tag "¥#{post.amount}", id: "post-payment-box-open-link-#{post.id}", data: {post_id: post.id} %>

                <script>
                  var post_payment_open_link_<%= post.id %> = document.getElementById("post-payment-box-open-link-<%= post.id %>");
                  var target_form = document.getElementById("post_payment_form");
                  var buy_text = document.getElementById("buy-text");
                  post_payment_open_link_<%= post.id %>.addEventListener("click", function(event){
                    console.log(event.target.dataset.postId);
                    target_form.action = `/posts/<%= post.id %>/payments/post_payment`;
                    buy_text.textContent = "<%= post.content.truncate(5) %>(<%= post.amount + (post.commission) %>円(手数料込み))を購入する。";
                    event.preventDefault();
                    payment_modal.classList.add("open");
                    post_payment_box.style.display = "block";
                  });
                </script>

              <% end %>
            <% end %>

          </div>
        <% end %>
    </div>
  </div>
</div>
<%= link_to new_post_path, {class: "post_pen", method: :get} do %>
  <span class="fa-stack post_pen">
    <i class="fas fa-circle fa-stack-2x"style="color:pink"></i>
    <i class="fas fa-plus fa-stack-1x"style="color:white"></i>
  </span>
<% end %>
