<div class="main posts-index">
  <div class="container">

    <div style="width:100%;height:500px;overflow:auto;">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <% if post.user.avater.attached? %>
          <div class="post-users">
            <%= image_tag post.user.avater %>  <%= link_to(post.user.username, "/posts/#{post.id}",class: "post-index-name") %>
          </div>
        <% else %>
        <div class="post-users">
        <%= image_tag "/blank-profile-picture-973460_640.png" %><%= link_to(post.user.username, "/posts/#{post.id}",class: "post-index-name") %>
         </div>
        <% end %>
        <%= link_to(post.content, "/posts/#{post.id}",class: "post-index-content") %>
        <p>
        <i class="far fa-comment fa-lg comment-show"></i>

        <i class="far fa-heart like-btn"></i>
        <%= post.likes.count %>
        </p>

      </div>
    <% end %>
    </div>
  </div>
</div>
<%= link_to new_post_path, {class: "post_pen", method: :get} do %>
<span class="fa-stack post_pen">
<i class="fas fa-circle fa-stack-2x"style="color:pink"></i>
<i class="fas fa-pen fa-stack-1x"style="color:white"></i>
</span>
<% end %>
