<div class="post-explanation-area-box">
  <!-- スライドの部分 -->
  <div class="post-explanation-slide-box auto-flex-size">
    <div class="post-slide-images-box">
      <% if @post.poster?  %>
        <div class="post-slide-image-one-box">
          <%= image_tag @post.poster.url, class: "post_poster post-slide-image" %>
        </div>
      <% end %>
    </div>
    <!-- サムネイルのコントロール部分 -->
    <div class="post-slide-control-images-box slick_thumb">
      <% if @post.post_thumbnails.exists? %>
        <% @post.post_thumbnails.each_with_index do |post_thumbnail, index| %>
          <% if post_thumbnail.picture? %>
            <div class="post-slide-control-one-image-box" data-index=<%= index %>>
              <%= image_tag post_thumbnail.picture.url, class: "post-slide-image" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="post-explanation-details-box auto-flex-size">
    <h2><%= @post.title %></h2>
    <div class="post-explanation-description">
      <%= simple_format @post.description %>
    </div>
  </div>
</div>

<div class="post-explanation image-contents-zoom-area modal-contents" id="image-post-zoom-modal-contents">
  <i class="zoom-hide-button fa fa-times-circle modal-hide-button"></i>
  <div class="post-explanation image-contents-zoom <%= @post.post_thumbnails.count + 1 > 1 ? "slick" : "" %>">
    <% @post.post_thumbnails.each_with_index do |post_thumbnail, index| %>
      <% if post_thumbnail.picture? %>
        <div class="post-explanation image-contents-zoom-box" data-index="<%= index %>">
          <%= image_tag post_thumbnail.picture.url %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="modal-background" id="image-post-zoom-modal-background">

</div>


<% if @payment_check %>
  <%= link_to "記事を読む", post_path(@post) %>
<% else %>
  <%= button_tag "¥#{@post.amount+@post.commission}", id: "post-payment-box-open-link", data: {post_id: @post.id} %>
<% end %>

<% if @post.user_id == current_user.id %>
  <div class="post-menus">
    <%= link_to(edit_post_path(@post), method: :get) do%>
      <i class="far fa-edit fa-2x"></i>
    <% end %>

    <%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %>
    <%= link_to(post_path(@post),data: { confirm: "この投稿を削除してもよろしいですか？" }, method: :delete) do%>
      <i class="fas fa-trash-alt fa-2x"></i>
    <% end %>
  </div>
  <p>
    購入数：<%= @purchase_num %>
  </p>
  
  <% if user_signed_in? %>
    <% if current_user.id == @post.user_id %>
      <p>閲覧数：<%= @post.impressionist_count %></p>
    <% end %>
  <% end %>
<% end %>

<% if @posts.exists? %>
  <% if user_signed_in? %>
    <%= render partial: "payments/post_payment" %>
  <% end %>
<% end %>




<style>
  .container{
    max-width: 1500px;
    margin: auto;
  }
</style>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
  var post_payment_open_link = document.getElementById("post-payment-box-open-link");
  var target_form = document.getElementById("post_payment_form");
  var buy_text = document.getElementById("buy-text");
  var before_slick_element = null;
  post_payment_open_link.addEventListener("click", function(event){
    target_form.action = `/posts/<%= @post.id %>/payments/post_payment`;

    buy_text.textContent = "<%= @post.title.truncate(10) %>(<%= @post.amount + (@post.commission) %>円(手数料込み))を購入する。";
    event.preventDefault();
    payment_modal.classList.add("open");
    post_payment_box.style.display = "block";
  });
  $('.post-slide-control-one-image-box').click(function(event){
    $(".image-contents-zoom.slick").slick("slickGoTo", event.target.dataset.index, true);
    modal_display(false, "image-post-zoom-modal-contents", "image-post-zoom-modal-background");
  });

  $(".image-contents-zoom.slick").slick({
    dots: false,
    speed: 300,
    slidesToShow: 1
  });

</script>
