<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <% if @user.avater.attached? %>
        <div class="post-user">
          <%= image_tag @user.avater %> <%= link_to(@user.username, user_path(@user),class: "post-index-name") %>
        </div>
      <% else %>
      <div class="post-user">
      <%= image_tag "/blank-profile-picture-973460_640.png" %> <%= link_to(@user.username, user_path(@user),class: "post-index-name") %>
      </div>
      <% end %>
      <p>
        <%= @post.content %>
      </p>


      <%= link_to(new_comment_path(@comment))do %>
        <i class="far fa-comment fa-2x comment-show"></i>
      <% end %>

      <div class="post-menus">
        <%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %>
        <%= link_to(post_path(@post),data: { confirm: "この投稿を削除してもよろしいですか？" }, method: :delete) do%>
        <i class="fas fa-trash-alt fa-2x"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="comment-index">
  <h2>コメント一覧</h2>
</div>
<% @comments.each do |comment| %>

    <%= comment.content %>
<% end %>
