<div class="main posts-show">
  <div class="posts-show-item">
    <%#= render partial: "users/user_profile", locals: {user: @user} %>
    <div class="post-show-images-posts-slides-box">
      <div class="post-show-image_posts-all-box">

        <% @post.image_posts.each do |image_post| %>
          <% if image_post.picture? %>
            <div class="post-show-image_post-box">
              <%= image_tag image_post.picture.url,class: "post-show-image_post" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<style>
  .container{
    max-width: none;
  }
</style>
<script>
  $(".post-show-image_posts-all-box").slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: true,
    lazyLoad: 'progressive'
  });
</script>
<!-- コメント機能
<div class="comment-index my-4">
  <h2>コメント一覧</h2>
</div>

<% @comments.each do |comment| %>
  <div class="comment-index-item">
    <% if comment.user.avater.attached? %>
      <div class="post-users">
        <%= image_tag comment.user.avater,class: "users" %> <%= link_to(comment.user.username, user_path(comment.user),class: "comment-index-name") %>
      </div>
    <% else %>
      <div class="post-users">
        <%= image_tag "/blank-profile-picture-973460_640.png",class: "users" %> <%= link_to(comment.user.username, user_path(comment.user),class: "comment-index-name") %>
    <% end %>
    <p>
      <%= comment.content %>
    </p>
  </div>
  </div>
<% end %>


  <div class="main posts-new">
  <div class="container">
    <%= form_for (@comment) do |f| %>
      <div class="form">
        <div class="form-body">
          <%= f.text_field :content,class: "form-control" %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.submit 'コメントする', class: "btn btn-primary input" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
-->
