<div class="main posts-show">
    <div class="posts-show-item">
      <% if @user.avater.attached? %>
        <div class="post-user">
          <%= image_tag @user.avater %> <%= link_to(@user.username, user_path(@user),class: "post-index-name") %>
        </div>
      <% else %>
        <div class="post-user">
          <%= image_tag "/blank-profile-picture-973460_640.png" %> <%= link_to(@user.username, user_path(@user),class: "post-index-name") %>
        </div>
      <% end %>
      <div class="post-show-content">
        <%= @post.content %>
       </div>

      <%= button_tag "この記事を購入する", id: "post-payment-box-open-link" %>
      <div class="modal" id="payment-modal"></div>

      <!--  支払いのフォームボックス cssファイル assets/stylesheets/payments.scss !-->
      <div class="post-payment-box" id="post-payment-box">
        <p class="text-center"><%= @post.content.truncate(5) %>(<%= @post.amount %>円)を購入する。</p>
        <%= form_tag post_payment_post_payments_path(post_id: @post.id), id: "post_payment_form" do %>
          <h4 class="payment-form-label">カード番号</h4>
          <div>
            <div id="card-number" class="stripe-input"></div>
          </div>
          <h4 class="payment-form-label">有効期限</h4>
          <div>
            <div id="card-expiry" class="stripe-input"></div>
          </div>
          <h4 class="payment-form-label">セキュリティコード</h4>
          <div>
            <div id="card-cvc" class="stripe-input"></div>
          </div>
          <div id="card-errors">

          </div>
          <%= submit_tag "送信" %>
        <% end %>
      </div>

　　　<% unless @user == current_user %>
      <% if Like.find_by(user_id: current_user.id,post_id: @post.id) %>

        <%= link_to destroy_like_path(@post), class: "like-btn", method: :DELETE, remote: true do %>
          <i class="fa fa-heart like-btn"></i>
        <% end %>
        <%= @post.likes.count %>

        <% else %>

        <%= link_to create_like_path(@post), class: "like-btn", method: :POST, remote: true do %>
          <i class="far fa-heart like-btn"></i>
        <% end %>
        <%= @post.likes.count %>
        <% end %>
      <% else %>
      <i class="far fa-heart like-btn"></i>
      <%= @post.likes.count %>
　　　<% end %>
  <% if @user == current_user %>
      <div class="post-menus">
        <%= link_to(edit_post_path(@post), method: :get) do%>
        <i class="far fa-edit fa-2x"></i>
        <% end %>
        <%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %>
        <%= link_to(post_path(@post),data: { confirm: "この投稿を削除してもよろしいですか？" }, method: :delete) do%>
        <i class="fas fa-trash-alt fa-2x"></i>
        <% end %>
        <% end %>
      </div>
    </div>
</div>
<!-- コメント機能
<div class="comment-index my-4">
  <h2>コメント一覧</h2>
</div>

<% @comments.each do |comment| %>
  <div class="comment-index-item">
    <% if comment.user.avater.attached? %>
      <div class="post-users">
        <%= image_tag comment.user.avater,class: "users" %> <%= link_to(comment.user.username, user_path(comment.user),class: "comment-index-name") %>
      </div>
    <% else %>
      <div class="post-users">
        <%= image_tag "/blank-profile-picture-973460_640.png",class: "users" %> <%= link_to(comment.user.username, user_path(comment.user),class: "comment-index-name") %>
    <% end %>
    <p>
      <%= comment.content %>
    </p>
  </div>
  </div>
<% end %>


  <div class="main posts-new">
  <div class="container">
    <%= form_for (@comment) do |f| %>
      <div class="form">
        <div class="form-body">
          <%= f.text_field :content,class: "form-control" %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.submit 'コメントする', class: "btn btn-primary input" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
-->
<script src="https://js.stripe.com/v3/"></script>

<!-- Stripeに関するJavascriptコード -->
<script>

  const key = gon.stripe_public_key;
  const stripe = Stripe(key);
  const elements = stripe.elements();
  const post_payment_open_link = document.getElementById("post-payment-box-open-link");
  const post_payment_box = document.getElementById("post-payment-box");
  let payment_modal = document.getElementById("payment-modal");
  const style = {
    base: {
      fontSize: "16px"
    }
  }

  // stripeが自動的にフォームを作ってくれる。
  const cardNumber = elements.create('cardNumber', {style: style});
  cardNumber.mount('#card-number');
  const cardExpiry = elements.create('cardExpiry', {style: style});
  cardExpiry.mount('#card-expiry');
  const cardCvc = elements.create('cardCvc', {style: style});
  cardCvc.mount('#card-cvc');

  cardNumber.addEventListener('change', function(event){
    const ErrorElement = document.getElementById("card-errors");
    if(event.error){
      ErrorElement.textContent = event.error.message;
    }else{
      ErrorElement.textContent = "";
    }
  });


  post_payment_open_link.addEventListener("click", function(event){
    event.preventDefault();
    payment_modal.classList.add("open");
    post_payment_box.style.display = "block";
  });

  payment_modal.addEventListener("click", function(event){
    payment_modal.classList.remove("open");
    post_payment_box.style.display = "none";
  });

  let form = document.getElementById("post_payment_form");

  form.addEventListener("submit", function(event){
    event.preventDefault();

    stripe.createToken(cardNumber).then(function(result){
      if(result.error){
        //カード情報のエラーがでたらエラーメッセージを表示する。
        let errorElement = document.getElementById("card-errors");
        errorElement.textContent = result.error.message;
      }else{
        //カード情報があっていればトークンなどをフォームに入れる。
        StripeSendTokenFormCreate(result.token);
      }
    });

    function StripeSendTokenFormCreate(token){
      const token_input = document.createElement("input");

      token_input.setAttribute("type", "hidden");
      token_input.setAttribute("name", "stripeToken");
      token_input.setAttribute("value", token.id);
      form.appendChild(token_input);


      form.submit();
    }
  });

</script>