<div class="main posts-show">
    <div class="posts-show-item">
      <% if @user.avater.attached? %>
        <div class="post-user">
          <%= image_tag @user.avater %> <%= link_to(@user.username, user_path(@user),class: "post-index-name") %>
        </div>
      <% else %>
        <div class="post-user">
          <%= image_tag "/blank-profile-picture-973460_640.png" %> <%= link_to(@user.username, user_path(@user),class: "post-index-name") %>
        </div>
      <% end %>
      <div class="post-show-content">
        <h2><%= @post.title %></h2>
        <%= @post.content %>
      </div>

     <% if current_user.present? %>
  　　　<% unless @user == current_user %>
        <% if Like.find_by(user_id: current_user.id,post_id: @post.id) %>

          <%= link_to destroy_like_path(@post), class: "like-btn", method: :DELETE, remote: true do %>
            <i class="fa fa-heart like-btn"></i>
          <% end %>
          <%= @post.likes.count %>

          <% else %>

          <%= link_to create_like_path(@post), class: "like-btn", method: :POST, remote: true do %>
            <i class="far fa-heart like-btn"></i>
          <% end %>
          <%= @post.likes.count %>
          <% end %>
        <% else %>
        <i class="far fa-heart like-btn"></i>
        <%= @post.likes.count %>
  　　　<% end %>
     <% end %>
  <% if @user == current_user %>
      <div class="post-menus">
        <%= link_to(edit_post_path(@post), method: :get) do%>
        <i class="far fa-edit fa-2x"></i>
        <% end %>
        <%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %>
        <%= link_to(post_path(@post),data: { confirm: "この投稿を削除してもよろしいですか？" }, method: :delete) do%>
        <i class="fas fa-trash-alt fa-2x"></i>
        <% end %>
        <% end %>
      </div>
    </div>
</div>

<div class="post_explanation_thumbnails">
  <% if @post.thumbnails.attached? %>
    <% @post.thumbnails.each do |thumbnail| %>
        <%= image_tag thumbnail,class: "post_explanation_thumbnails" %>
    <% end %>
  <% end %>
</div>

<!-- コメント機能
<div class="comment-index my-4">
  <h2>コメント一覧</h2>
</div>

<% @comments.each do |comment| %>
  <div class="comment-index-item">
    <% if comment.user.avater.attached? %>
      <div class="post-users">
        <%= image_tag comment.user.avater,class: "users" %> <%= link_to(comment.user.username, user_path(comment.user),class: "comment-index-name") %>
      </div>
    <% else %>
      <div class="post-users">
        <%= image_tag "/blank-profile-picture-973460_640.png",class: "users" %> <%= link_to(comment.user.username, user_path(comment.user),class: "comment-index-name") %>
    <% end %>
    <p>
      <%= comment.content %>
    </p>
  </div>
  </div>
<% end %>


  <div class="main posts-new">
  <div class="container">
    <%= form_for (@comment) do |f| %>
      <div class="form">
        <div class="form-body">
          <%= f.text_field :content,class: "form-control" %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.submit 'コメントする', class: "btn btn-primary input" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
-->
