<!DOCTYPE html>
<html>
  <head>
    <title>TApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to "ðŸ”Ž", users_path %>
        <%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸ã¸", user_path(current_user) %>
        <%= link_to 'ã‚¢ã‚«ã‚¦ãƒ³ãƒˆç·¨é›†', edit_user_registration_path %> |
        <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path %> |
        <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path %>
      <% end %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
     <%= yield %>
   </div>
  </body>
</html>
