<h2>パスワードをお忘れですか?<</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control user_edit" %>
  </div>

  <div class="form-actions">
    <%= f.submit "パスワードを再設定", :class => "btn btn-primary btn-sm" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
