<%= form_with(model: real_comment, local: true) do |form| %>
  <% if real_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(real_comment.errors.count, "error") %> prohibited this real_comment from being saved:</h2>

      <ul>
      <% real_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.hidden_field :real_id, value: @real.id  %>
    <%= form.submit %>
  </div>
<% end %>
