<p id="notice"><%= notice %></p>

<h1>Real Comments</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>User</th>
      <th>Real</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @real_comments.each do |real_comment| %>
      <tr>
        <td><%= real_comment.comment %></td>
        <td><%= real_comment.user %></td>
        <td><%= real_comment.real %></td>
        <td><%= link_to 'Show', real_comment %></td>
        <td><%= link_to 'Edit', edit_real_comment_path(real_comment) %></td>
        <td><%= link_to 'Destroy', real_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Real Comment', new_real_comment_path %>
