<div class="main posts-new">
  <div class="container">
    <%= form_for (@real_comment) do |f| %>
      <div class="form">
        <div class="form-body">
          <%= f.text_field :comment,class: "form-control" %>
          <%= f.hidden_field :real_id, value: @real.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit 'コメントする', class: "btn btn-primary input" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
