<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @real_comment.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @real_comment.user %>
</p>

<p>
  <strong>Real:</strong>
  <%= @real_comment.real %>
</p>

<%= link_to 'Edit', edit_real_comment_path(@real_comment) %> |
<%= link_to 'Back', real_comments_path %>
