<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <a class="navbar-brand p-1" href="/">
        <div class="logo">
        <%= image_tag "/ãƒšãƒ³ã‚­ãªã—ãƒ”ãƒ³ã‚¯180Ã—180_èƒŒæ™¯é€éŽ.png",size: "65x65"%>
        </div>
      </a>
      <button class="navbar-toggler m-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto p-3 h6" style="text-align: left;">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "ðŸ”Ž", users_path, {class: "nav-link"} %>
            </li>
            <li class="nav-item ">
              <%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸ã¸", user_path(current_user), {class: "nav-link"} %>
            </li>
            <li class="nav-item ">
              <%= link_to 'ã‚¢ã‚«ã‚¦ãƒ³ãƒˆç·¨é›†', edit_user_registration_path, {class: "nav-link"} %>
            </li>
            <li class="nav-item ">
              <%= link_to "æŠ•ç¨¿", new_post_path, {class: "nav-link"} %>
              <i class="bi bi-pencil"></i>
            </li>
            <li class="nav-item ">
              <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, {class: "nav-link", method: "delete"} %>
            </li>
          <% else %>
            <li class="nav-item ">
              <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, {class: "nav-link"} %>
            </li>
            <li class="nav-item ">
              <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, {class: "nav-link"} %>
            </li>
          <% end %>
  <!-- ä»¥ä¸‹å…ƒã€…
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
  -->
        </ul>
      </div>
    </nav>




    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
     <%= yield %>
   </div>
  </body>
</html>
